anyascii
python-dotenv
flyingsquid
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
ipykernel
ipywidgets
matplotlib
nltk
numpy
pafy
pandas
pgmpy
pymongo
pytube
rev-ai
snorkel
webvtt-py
youtube_dl
yt-dlp
seaborn